@page "/pinned-todo"
@using Dashboard.Model
@using Dashboard.Connect
@using Microsoft.EntityFrameworkCore
@inject Dashboard.Connect.DashboardDbContext DB
@inject Dashboard.Services.LoginService loginService


@if (loginService.IsLoggedIn)
{
    if (pinnedTodo == null)
    {
        <p>No pinned to-do item found.</p>
    }
    else
    {//Displaying users pinned todo
        <div class="pinned-todo-item sticky-note @GetNoteCssClass(pinnedTodo)" style="background-color: @(pinnedTodo.isDone ? "#ccc" : pinnedTodo.Color); --sticky-note-border-color: @(pinnedTodo.isDone ? "#999" : pinnedTodo.Color);">
            <div class="title">
                <h3>@pinnedTodo.Title</h3>
            </div>
            <div class="text">
                @((MarkupString)pinnedTodo.Description)
            </div>
            <div class="isDone">
                <span class="progress-circle-dot @GetCircleDotColor(pinnedTodo.isDone)"></span>
                <span>@(pinnedTodo.isDone ? "Done" : "Not Done")</span>
            </div>
        </div>
    }
}
else
{
    <p>You have to <a href="/login">log in</a>.</p>
}

@code {
    private TodoList? pinnedTodo;

    protected override async Task OnInitializedAsync()
    {
        await LoadPinnedTodoAsync();
    }
    //Loads Pinned Todo
    private async Task LoadPinnedTodoAsync()
    {
        if (loginService.IsLoggedIn)
        {
            var userId = loginService.Id;

            pinnedTodo = await DB.TodoLists
                .AsNoTracking()
                .FirstOrDefaultAsync(t => t.UserId == userId && t.IsPinned);

        }
    }

    private string GetCircleDotColor(bool isDone)
    {
        return isDone ? "red" : "green";
    }

    private string GetNoteCssClass(TodoList item)
    {
        return item.isDone ? "done" : "";
    }
}
